<% include partials/header %>
<div class="content-wrap">
    <div class="main">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-8 p-r-0 title-margin-right">
                    <div class="page-header">
                        <div class="page-title">
                            <h1>Listagem <small>dos Clientes</small></h1>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /# row -->
            <section id="main-content">
                <div class="row">
                    <div class="col-md-12 col-sm-6 col-xs-12">
                      <div class="x_panel">
                        <div class="x_content">
                          <table class="table table-striped" id='tabela'>
                            <thead>
                              <tr>
                                <th>Nome</th>
                                <th>Email</th>
                                
                                <th>telemovel</th>
                                <th>NIF</th>
                               
                
                                
                                
                              </tr>
                            </thead>
                            <tbody>
                              <% for (var c of clientes ) { %>
                                <tr data-toggle="modal"data-target="#<%= c.idclientes %>">
                                  <td><%= c.nome %></td>
                                  <td><%= c.email %></td>
                                 
                                  <td><%= c.telemovel %></td>
                                  <td><%= c.nif %></td>
                                
                                
                                </tr>
                                

                                <%} %>
                                
                            </tbody>
                          </table>
                           
                        </div>
                      </div>
                    </div>
                  </div>
            <!-- /# row -->
        </section>
    </div>
</div>
</div>

<% for (var c of clientes ) { %>
<script>
  var slideIndex<%= c.idclientes %> = 1;
showDivs<%= c.id %> (slideIndex<%= c.idclientes %>.style.display = "block");

function plusDivs<%= c.idclientes %> (n<%= c.idclientes %>) {
showDivs<%= c.idclientes %> (slideIndex<%= c.idclientes %> += n<%= c.idclientes %>);
}

function showDivs<%= c.idclientes %> (n<%= c.idclientes %>) {
var i<%= c.idclientes %>;
var x<%= c.idclientes %> = document.getElementsByClassName("<%= c.idclientes %>");

if (n<%= c.idclientes %> > x<%= c.idclientes %>.length) {
slideIndex<%= c.idclientes %> = 1

}
if (n<%= c.idclientes %> < 1) {
slideIndex<%= c.idclientes %> = x<%= c.idclientes %>.length
}
for (i<%= c.idclientes %> = 0; i<%= c.idclientes %> < x<%= c.idclientes %>.length; i<%= c.idclientes %>++) {
x<%= c.idclientes %> [i<%= c.idclientes %>].style.display = "none";
}
x<%= c.idclientes %> [slideIndex<%= c.idclientes %> - 1].style.display = "block";
}
</script>
<div class="modal fade product_view " id="<%= c.idclientes %>">
<div class="modal-dialog">
<div class="modal-content">

<div class="modal-body">


 <div class="w3-content w3-display-container" >
     <% i = 0 %>
         <% for (i = 0; i < c.num_fotos_cliente; i++ ) { %>
             <% if (i == 0) { %>
                 <img class="<%= c.idclientes %>" src="/public/img/<%= c.nif %>-<%= i %>.png" style="widclientesth:100%; max-width: 100%; max-height: 100%;">
                 <% } else { %>
                     <img class="<%= c.idclientes %>" src="/public/img/<%= c.nif %>-<%= i %>.png" style="widclientesth:100%; display:none;max-width: 100%; max-height: 100%;">
                     <% } %>
                         <% } %>
                             <button class="w3-button w3-black w3-display-left" onclick="plusDivs<%= c.idclientes %>(-1)">&#10094;</button>
                             <button class="w3-button w3-black w3-display-right" onclick="plusDivs<%= c.idclientes %>(1)">&#10095;</button>
 </div>
</br>
<div class="card-block">
    <h4 >
        <%= c.nome %>
    </h4>
</div>
<ul class="list-group list-group-flush">
    <li class="list-group-item">
    Email: <%= c.email %></li>
    <li class="list-group-item">
    Telemovel: <%= c.telemovel %></li>
    <li class="list-group-item">
    Morada: <%= c.morada %></li>
    <li class="list-group-item">
    Nif: <%= c.nif %> </li>
    <li class="list-group-item">
    Cartão de Cidadão: <%= c.cc %> </li>
    <li class="list-group-item">
    Data de Nascimento: <%= c.data_nascimento.toLocaleDateString('en-US') %> </li>
    <button class="btn btn-primary" type="button" onclick="window.open('/clientes','_self')">Editar</button>
    
</ul>

<li style="width:50%;">
    <span data-toggle="modal" data-target="#<%= c.id %>">

</li>

</div>
</div>
</div>
</div>
<%} %>

<% include partials/footer %>