<% include partials/header%>
<div class="content-wrap">
    <div class="main">
      <div class="container-fluid">
        

          <br>
        <section id="main-content">

            <div class="right_col" role="main">
              <div class="">
                <div class="page-title">
                  <div class="title_left">
                  </div>
                </div>
                <div class="clearfix"></div>
                <div class="row">
                  <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                      <div class="x_title">
                        <h1> Clientes
                          <small>Registos & Updates</small>
                        </h1>
                        <div class="clearfix"></div>
                      </div>
                      <div class="x_content">
                        <% if (isNew){ %>
                        <form action="/clientes/createclientes" method="post" enctype="multipart/form-data" class="form-horizontal form-label-left"
                          novalidate>  
                          <input type="file" name="fotocliente" multiple="multiple">
                          <br>
                      <br> 
                          <div class="item form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="nome">Nome<span class="required">*</span></label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                              <input class="form-control col-md-6 col-md-6 col-xs-12" data-validate-length-range="6" data-validate-words="2" id="nome" placeholder="Nome do Cliente" name="nome" value="<%= clientes.nome %>" required="required" type="text">
                            </div>
                          </div>
                          <div class="item form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="email">Email<span class="required">*</span></label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                              <input type="email" id="email" placeholder="Email" name="email" value="<%= clientes.email %>" required="required" class="form-control col-md-6 col-md-6 col-xs-12">
                            </div>
                          </div>
                          <div class="item form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="morada">Morada<span class="required">*</span></label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                              <input type="text" id="morada" placeholder="Insira a Morada" name="morada" value="<%= clientes.morada %>" data-validate-length-range="6"
                                data-validate-words="2" required="required" class="form-control col-md-6 col-md-6 col-xs-12">
                            </div>
                          </div>
                          <div class="item form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="telemovel">Telemovel<span class="required">*</span></label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                              <input type="text" name="telemovel" placeholder="Telemovel" pattern="[0-9]{9}" value="<%= clientes.telemovel %>" class="optional form-control col-md-6 col-md-6 col-xs-12">
                            </div>
                          </div>
                          <div class="item form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="nif">NIF<span class="required">*</span></label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                              <input type="text" name="nif" placeholder="NIF" pattern="[0-9]{9}" value="<%= clientes.nif %>" class="optional form-control col-md-6 col-md-6 col-xs-12">
                            </div>
                          </div>
                          <div class="item form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="cc">Cartão de Cidadão<span class="required">*</span></label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                              <input type="text" name="cc" placeholder="Cartão de Cidadão" value="<%= clientes.cc %>" class="optional form-control col-md-6 col-md-6 col-xs-12">
                            </div>
                          </div>
                          <div class="item form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="data_nascimento">Cartão de Cidadão<span class="required">*</span></label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                              <input type="date" name="data_nascimento" placeholder="" class="optional form-control col-md-6 col-md-6 col-xs-12 " value="<%= clientes.data_nascimento %>" >
                            </div>
                          </div>
          
                          <div class="ln_solid"></div>
                          <div class="form-group">
                            <div class="col-md-6 col-md-offset-3">
                              <button class="btn btn-primary" type="button" onclick="window.open('/clientes','_self')">Cancel</button>
                              <button id="send" type="submit" class="btn btn-success">Submit</button>
                              
          
                            </div>
                          </div>
                        </form>

                        <% } else {%>

                          <form action="/clientes/update/<%= clientes.idclientes %>" method="post" class="form-horizontal form-label-left"
                          novalidate>  
                      <br>
                      <br> 
                          <div class="item form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="nome">Nome<span class="required">*</span></label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                              <input class="form-control col-md-6 col-md-6 col-xs-12" data-validate-length-range="6" data-validate-words="2" id="nome" placeholder="Nome do Cliente" name="nome" value="<%= clientes.nome %>" required="required" type="text">
                            </div>
                          </div>
                          <div class="item form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="email">Email<span class="required">*</span></label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                              <input type="email" id="email" placeholder="Email" name="email" value="<%= clientes.email %>" required="required" class="form-control col-md-6 col-md-6 col-xs-12">
                            </div>
                          </div>
                          <div class="item form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="morada">Morada<span class="required">*</span></label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                              <input type="text" id="morada" placeholder="Insira a Morada" name="morada" value="<%= clientes.morada %>" data-validate-length-range="6"
                                data-validate-words="2" required="required" class="form-control col-md-6 col-md-6 col-xs-12">
                            </div>
                          </div>
                          <div class="item form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="telemovel">Telemovel<span class="required">*</span></label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                              <input type="text" name="telemovel" placeholder="Telemovel" pattern="[0-9]{9}" value="<%= clientes.telemovel %>" class="optional form-control col-md-6 col-md-6 col-xs-12">
                            </div>
                          </div>
                          <div class="item form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="nif">NIF<span class="required">*</span></label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                              <input type="text" name="nif" placeholder="NIF" pattern="[0-9]{9}" value="<%= clientes.nif %>" class="optional form-control col-md-6 col-md-6 col-xs-12">
                            </div>
                          </div> <div class="item form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="cc">Cartão de Cidadão<span class="required">*</span></label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                              <input type="text" name="cc" placeholder="Cartão de Cidadão" value="<%= clientes.cc %>" class="optional form-control col-md-6 col-md-6 col-xs-12">
                            </div>
                          </div>
                        </div> <div class="item form-group">
                          <label class="control-label col-md-3 col-sm-3 col-xs-12" for="nif">Data de Nascimento<span class="required">*</span></label>
                          <div class="col-md-6 col-sm-6 col-xs-12">
                            <input type="text" name="cc" placeholder="Cartão de Cidadão" value="<%= clientes.cc %>" class="optional form-control col-md-6 col-md-6 col-xs-12">
                          </div>
                        </div>
          
                          <div class="ln_solid"></div>
                          <div class="form-group">
                            <div class="col-md-6 col-md-offset-3">
                              <button class="btn btn-primary" type="button" onclick="window.open('/clientes','_self')">Cancel</button>
                              <button id="send" type="submit" class="btn btn-success">Submit</button>
                                <button type="button" class="btn btn-danger" onclick="removeRecord()">Apagar</button>
          
                                  <script type="text/javascript">
                                    function removeRecord() {
                                      if (confirm('Deseja mesmo remover este Cliente?')) {
                                        window.open("<%= '/clientes/' + clientes.idclientes + '/delete'%>", '_top')
                                      }
                                    }
                                  </script>
          
                            </div>
                          </div>
                        </form>
                        <% } %>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>







            
          <!-- /# row -->
        </section>
      </div>
    </div>
  </div>






  
  <% include partials/footer%>