<% include partials/header %>

                <!-- START BREADCRUMB -->
                <ul class="breadcrumb">
                    <li><a href="#">Home</a></li>                    
                    <li class="active">Dashboard</li>
                </ul>
                <!-- END BREADCRUMB --> 
                
                
                <!-- Start Scripts --> 
                <script>

                    function marcaA(){
                        return <%= marca1 %>;
                    }
                    function marcaB(){
                        return <%= marca2 %>;
                    }
                    function start(){
                          marcaA();
                          marcaB();
                     
                         
                            
                        }
                        window.onload = start;
                
                </script>
                
                <!-- END Scripts -->     


                <!-- PAGE CONTENT WRAPPER -->
                <div class="page-content-wrap">
                    
                    <!-- START WIDGETS -->                    
                    <div class="row">
                        <div class="col-md-3">
                            
                            <!-- START WIDGET SLIDER -->
                            <div class="widget widget-default widget-carousel">
                                <div class="owl-carousel" id="owl-example">
                                    <div>              
                                            <div class="widget-title">Total</div>
                                            <div class="widget-subtitle">Clientes</div>
                                        <div class="widget-int"> <%= numeroClientes %></div>
                                    </div>
                                    <div>                                    
                                        <div class="widget-title">Total</div>
                                        <div class="widget-subtitle">Futuros Clientes</div>
                                        <div class="widget-int"><%= fClientes %></div>
                                    </div>
                                    <div>                                    
                                        <div class="widget-title">Total</div>
                                        <div class="widget-subtitle">Clientes Ativos</div>
                                        <div class="widget-int"><%= clientesAtivo %></div>
                                    </div>
                                </div>                                                        
                            </div>         
                            <!-- END WIDGET SLIDER -->
                            
                        </div>
                        <div class="col-md-3">
                            <!-- START WIDGET SLIDER -->
                            <div class="widget widget-default widget-carousel">
                                <div class="owl-carousel" id="owl-example">
                                    <div>              
                                            <div class="widget-title">Veiculos</div>
                                            <div class="widget-subtitle">Em Stock</div>
                                        <div class="widget-int"> <%= veiStock %></div>
                                    </div>
                                    <div>                                    
                                        <div class="widget-title">Veiculos</div>
                                        <div class="widget-subtitle">Vendidos</div>
                                        <div class="widget-int"><%= veiVendidos %></div>
                                    </div>
                                    
                                </div>                                                        
                            </div>         
                            <!-- END WIDGET SLIDER -->
                            
                            
                        </div>
                        <div class="col-md-3">
                            
                            <!-- START WIDGET MESSAGES -->
                            <div class="widget widget-default widget-item-icon" >
                                <div class="widget-item-left">
                                    <span class="fa fa-angle-double-up"></span>
                                </div>                             
                                <div class="widget-data">
                                    </br>
                                        <div class="widget-title">Marca Mais Vendida:</div>
                                 
                                    <div class="widget-int num-count">BMW</div>
                                   
                                </div>      
                                
                            </div>                            
                            <!-- END WIDGET MESSAGES -->
                            
                        </div>
                        
                        <div class="col-md-3">
                            
                            <!-- START WIDGET CLOCK -->
                            <div class="widget widget-info widget-padding-sm">
                            </br>
                                <div class="widget-big-int plugin-clock">00:00</div>                            
                                <div class="widget-subtitle plugin-date">Loading...</div>
                                                            
                                                           
                            </div>                        
                            <!-- END WIDGET CLOCK -->
                            
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            
                            <!-- START WIDGET SLIDER -->
                            <div class="widget widget-default widget-item-icon" >
                                <div class="widget-item-left">
                                    <span class="fa fa-car"></span>
                                </div>                             
                                <div class="widget-data">
                                    </br>
                                        <div class="widget-title">Ultimo Venda:</div>
                                 
                                    <div class="widget-int num-count">BMW</div>
                                   
                                </div>      
                                
                            </div>        
                            <!-- END WIDGET SLIDER -->
                            
                        </div>
                        <div class="col-md-3">
                            
                            <!-- START WIDGET MESSAGES -->
                            <div class="widget widget-default widget-item-icon" >
                                <div class="widget-item-left">
                                    <span class="fa fa-exclamation-triangle"></span>
                                </div>                             
                                <div class="widget-data">
                                    </br>
                                        <div class="widget-title">Gasto:</div>
                                 
                                    <div class="widget-int num-count"><%= gastos %>€</div>
                                   
                                </div>      
                                
                            </div>                                
                            <!-- END WI  <div class="widget widget-default widget-item-icon" onclick="location.href='pages-messages.html';">
                             DGET MESSAGES -->
                            
                        </div>
                        <div class="col-md-3">
                            
                            <!-- START WIDGET MESSAGES -->
                            <div class="widget widget-default widget-item-icon" >
                                <div class="widget-item-left">
                                    <span class="fa fa-money"></span>
                                </div>                             
                                <div class="widget-data">
                                    </br>
                                        <div class="widget-title">Ganhos:</div>
                                 
                                    <div class="widget-int num-count"><%= ganhos %>€</div>
                                   
                                </div>      
                                
                            </div>                             
                            <!-- END WIDGET MESSAGES -->
                            
                        </div>
                        <div class="col-md-3">
                            
                            <!-- START WIDGET MESSAGES -->
                            <div class="widget widget-default widget-item-icon" >
                                <div class="widget-item-left">
                                    <span class="fa fa-dollar"></span>
                                </div>                             
                                <div class="widget-data">
                                    </br>
                                        <div class="widget-title">Lucro:</div>
                                 
                                    <div class="widget-int num-count"><%= lucro %>€</div>
                                   
                                </div>      
                                
                            </div>                               
                            <!-- END WIDGET MESSAGES -->
                            
                        </div>
                        
                    </div>
                    <!-- END WIDGETS -->                    
                    
                    <div class="row">
                        <div class="col-md-12">
                            
                            <!-- START USERS ACTIVITY BLOCK -->
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <div class="panel-title-box">
                                        <h3>Veiculos</h3>
                                        <span>Marcas</span>
                                    </div>                                    
                                    <ul class="panel-controls" style="margin-top: 2px;">
                                        <li><a href="#" class="panel-fullscreen"><span class="fa fa-expand"></span></a></li>
                                                                              
                                    </ul>                                    
                                </div>                                
                                <div class="panel-body padding-0">
                                    <div class="chart-holder" id="grafico-marcas" style="height: 200px;"></div>
                                </div>                                    
                            </div>
                            <!-- END USERS ACTIVITY BLOCK -->
                            
                        </div>
                        </div>

                    
                    <!-- START DASHBOARD CHART -->
					<div class="chart-holder" id="dashboard-area-1" style="height: 200px;"></div>
					<div class="block-full-width">
                                                                       
                    </div>                    
                    <!-- END DASHBOARD CHART -->
                    
                </div>
                <!-- END PAGE CONTENT WRAPPER -->                                
            </div>            
            <!-- END PAGE CONTENT -->
        </div>
        <!-- END PAGE CONTAINER -->
<% include partials/footer%>