<% include partials/header%>
                <div class="row">
                  <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                      <div class="x_title">
                        <h2> Vendas
                        </h2>
                        <div class="clearfix"></div>
                      </div>
                      <div class="x_content">
                        <form action="/vendas/create" method="post" class="form-horizontal form-label-left" novalidate>
                          <span class="section"></span>
                          <br>
                          <!-- DADOS CLIENTE -->
                          <fieldset>
                            <legend><h5>Dados do Cliente</h5></legend>
                            <table cellspacing="10">
                            <div class="item form-group">
                              <label class="control-label col-md-3 col-sm-3 col-xs-12" for="tituloS">Selecione o  cliente<span class="required">*</span>
                              </label>
                              <div class="col-md-4 col-sm-6 col-xs-12">
                                <select class="form-control" id="userSel" name="comprador" onchange="filterCliente()" >
                                  <option>Selecione um Cliente</option>
                                  <% for (var c of clientes) { %>
                                    <option value="<%= c.nif %>" > <%= c.nome %></option>
                                  <% } %>
                                </select>
                              </div>
                            </div>
                            <div class="item form-group" id="div">
                              <label class="control-label col-md-3 col-sm-3 col-xs-12" for="nif"> NIF:<span class="required"></span>
                              </label>
                              <div class="col-md-4 col-sm-6 col-xs-12">
                                <input type="text" id="nif" class="form-control col-md-4 col-xs-12" disabled>
                              </div>
                            </div>
                            <div class="item form-group">
                              <label class="control-label col-md-3 col-sm-3 col-xs-12" for="cc">Nº CC:<span class="required"></span>
                              </label>
                              <div class="col-md-4 col-sm-6 col-xs-12">
                                <input type="text" id="cc" class="form-control col-md-4 col-xs-12"disabled>
                              </div>
                            </div>
                            <div class="item form-group">
                              <label class="control-label col-md-3 col-sm-3 col-xs-12" for="morada">Morada<span class="required"></span>
                              </label>
                              <div class="col-md-4 col-sm-6 col-xs-12">
                                <input type="text" id="morada" class="form-control col-md-4 col-xs-12"disabled>
                              </div>
                            </div>
                            </table>
                          </fieldset>
                          <!-- FIM DADOS CLIENTE -->
                            <br>
                          <!--DADOS VIATURA -->
                          <fieldset>
                            <legend><h5>Dados do Veiculo</h5></legend>
                            <table cellspacing="10">
                            <div class="item form-group">
                              <label class="control-label col-md-3 col-sm-3 col-xs-12" for="tituloS">Selecione o  veiculo<span class="required">*</span>
                              </label>
                              <div class="col-md-4 col-sm-6 col-xs-12">
                                <select class="form-control" id="carSel" name="carSel" onchange="filterVeiculo()">
                                  <option>Selecione um Veiculo</option>
                                  <% for (var v of veiculos) { %>
                                    <option value="<%= v.matricula %>" ><%= v.matricula %></option>
                                  <% } %>
                                </select>
                              </div>
                            </div>
                            <div class="item form-group">
                              <label class="control-label col-md-3 col-sm-3 col-xs-12" for="chassi">Chassi nº:<span class="required"></span>
                              </label>
                              <div class="col-md-4 col-sm-6 col-xs-12">
                                <input type="text" id="chassi" class="form-control col-md-4 col-xs-12" disabled>
                              </div>
                            </div>
                            <div class="item form-group">
                              <label class="control-label col-md-3 col-sm-3 col-xs-12" for="marca">Marca:<span class="required"></span>
                              </label>
                              <div class="col-md-4 col-sm-6 col-xs-12">
                                <input type="text" id="marca" class="form-control col-md-4 col-xs-12" disabled>
                              </div>
                            </div>
                            <div class="item form-group">
                              <label class="control-label col-md-3 col-sm-3 col-xs-12" for="modelo">Modelo:<span class="required"></span>
                              </label>
                              <div class="col-md-4 col-sm-6 col-xs-12">
                                <input type="text" id="modelo" class="form-control col-md-4 col-xs-12" disabled>
                              </div>
                            </div>
                            </table>
                          </fieldset>
                          <!-- FIM DADOS VIATURA -->
                          <br>
                          <fieldset>
                          <legend><h5>Valor da Venda</h5></legend>
                            <table cellspacing="10">
                              <div class="item form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="tituloS">Preço de Venda<span class="required">*</span>
                                </label>
                                <div class="col-md-4 col-sm-6 col-xs-12">
                                  <input class="form-control col-md-7 col-xs-12" id="preco" name="preco" type="text" required>
                                </div>
                              </div>
                            </table>
                        </fieldset>
                          <div class="ln_solid"></div>
                          <div class="form-group">
                            <div class="col-md-6 col-md-offset-3">
                              <button class="btn btn-primary" type="button" onclick="window.open('/clientes','_self')">Cancel</button>
                              <button id="send" type="submit" class="btn btn-success">Submit</button>
                            </div>
                          </div>
                          <br>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <script>  
            
              function filterVeiculo(){               
                  var carSelect = $('#carSel').val();
                  alert("<%= v.matricula %>")

                  <% for (var v of veiculos){ %>
                  alert("<%= v.matricula %>")

                    if ("<%= v.matricula %>" == carSelect){ 
                      alert("<%= v.chassi %>")
                      
                              document.getElementById("chassi").value = "<%= v.chassi %>";
                              document.getElementById("marca").value = "<%= v.marca %>";
                              document.getElementById("modelo").value = "<%= v.modelo %>";
                    } 
                  <% } %>
              }
            
              function filterCliente(){
                var selected = $('#userSel').val();

                <% for (var c of clientes){ %>

                  if (<%= c.nif %> == selected){ 
                    
                            document.getElementById("nif").value = "<%= c.nif %>";
                            document.getElementById("cc").value = "<%= c.cc %>";
                            document.getElementById("morada").value = "<%= c.morada %>";
                } 
                <%   } %>
              }
              
            </script>
          <!-- /# row -->
        </section>
      </div>
    </div>
  </div>
<% include partials/footer%>