<% include partials/header %>
<style>

  a {
        color: black   ;
          }
  a:hover {
        color: black   ;
          }
 

</style>

<!-- Header -->
<div id="intro">
  <div class="intro-body">
    <div class="container">
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <h1> <span class="brand-heading"></span></h1>
          <h2>Encontre aqui o seu carro de Sonho</h2>
          <br>
          <a href="#about" class="btn btn-default page-scroll">Entrar</a> </div>
     </div>
    </div>
  </div>
</div>
<!-- About Section -->
<div id="about">
  <div class="container">
    <div class="section-title text-center center">
      <h2>Os nossos carros</h2>
      <hr>
    </div>
    <div class="row">
        
      <% for (var c of data) { %>
        <% if(last < 5) { %>
        <% if (c.ativo == 1) { %>
          
          

            <div class="col-md-3" style="padding-right: 5px;"  data-target="/main/<%= c.matricula %>" >
                <a href="/main/<%= c.matricula %>">
                <div class="card">
                        <div class="card-price">
                        <h4 style="margin-top: 3px;font-size: 20px; text-align: center;">Preço de venda: <small><%= c.valor_venda %> €  </small></h4>
                    </div>
                    <img class="card-img-top" src="/public/img/<%= c.chassi %>-0.png" alt="Card image cap" style="margin-bottom:20px;">


                    <div class="card-block">
                        <h4 class="card-title">
                            <%= c.marca %> <small><%= c.modelo  %></small>
                        </h4>
                       
                    </div>
                    <div class="card-block">
                      <h5> &nbsp&nbsp&nbsp<%= c.combustivel  %> &nbsp&nbsp&nbsp  <li style=" display: inline;"> <%= c.km %> Km </li> </h5>
                      
                  </div>
                  
              <ul class="list-group list-group-flush" style="display: inline;">
                  
                  <li class=" cilindrada" style="display: inline;margin: 10px;">
                      <%= c.cilindrada %> cc</li>
                  <li class=" cavalagem" style="display: inline;margin: 10px;">
                      <%= c.cv %> cavalos</li>
                     
              </ul>
             
                   

                </div>
            </a>

            </div>
            <% last = last + 1 %>
            <% } %>
                <% } %>
                <% } %>
    </div>
    <br>
    <a href="/main/veiculos" class="btn btn-default page-scroll" style="float: right; " >Ver mais veiculos</a>
  </div>
</div>

<!-- Contact Section -->
<section  id="mapa"class="mapa text-center" style="background-color:LightGrey " >
  <div class="container">

   <h1>Localizações</h1>
  <br>

  <div class="col-md-2">
  </div>
  <button  id="btn-local1" type="submit" class="btn btn-submit" >local1</button>
  <button  id="btn-local2" type="submit" class="btn btn-submit" >local2</button>
  <button  id="btn-local3" type="submit" class="btn btn-submit" >local3</button>

   <div id="local1"  class="col-md-8" style= "display: block">
   <div id="googleMap" style="width:100%;height:400px;margin-bottom:60px; border-radius: 10px;">
     
   </div>
  </div>
  <div id="local2"  class="col-md-8"  style= "display: none">
      <div id="googleMap2" style="width:100%;height:400px;margin-bottom:60px; border-radius: 10px;">
        
      </div>
     </div>
     <div id="local3"  class="col-md-8"  style= "display: none">
        <div id="googleMap3" style="width:100%;height:400px;margin-bottom:60px; border-radius: 10px;">
          
        </div>
       </div>
  <div class="col-md-2">
  </div>
   <script>
   function myMap() {
 var local = {lat: 41.450945, lng:  -8.2929927};
       var map = new google.maps.Map(document.getElementById('googleMap'), {
         zoom: 16,
         center: local
       });
       var marker = new google.maps.Marker({
         position: local,
         map: map
       });

   var map=new google.maps.Map(document.getElementById("googleMap"),mapProp);
   }
   function myMap2() {
 var local2 = {lat: 54.525961, lng:  -105.255119};
       var map2 = new google.maps.Map(document.getElementById('googleMap2'), {
         zoom: 16,
         center: local2
       });
       var marker = new google.maps.Marker({
         position: local2,
         map: map2
       });

   var map=new google.maps.Map(document.getElementById("googleMap2"),mapProp);
   }
   function myMap3() {
 var local3 = {lat: 39.399872, lng:  -8.224454};
       var map3 = new google.maps.Map(document.getElementById('googleMap3'), {
         zoom: 16,
         center: local3
       });
       var marker = new google.maps.Marker({
         position: local3,
         map: map3
       });

   var map=new google.maps.Map(document.getElementById("googleMap3"),mapProp);
   }
   </script>
   
   <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyByXAIILKz4TEFmwPSB7DmOI8hRre--TKY&callback=myMap"></script>
 
</div> 
   </section>
<div id="contact" class="text-center">
  <div class="container">
    <div class="section-title center">
      <h2>Contactos</h2>
      <br>
    </div>
    <div class="col-md-8 col-md-offset-2">
     
      <div class="col-md-4">
        <div class="contact-item"> <i class="fa fa-envelope-o fa-2x"></i>
          <p>automika@sapo.pt</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="contact-item"> <i class="fa fa-phone fa-2x"></i>
          <p>912 543 745</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="contact-item"> <i class="fa fa-facebook"></i>
          <p><a href="https://www.facebook.com/automikamultimarcas/?ref=br_rs"> Facebook</a></p>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
    <div class="col-md-8 col-md-offset-2">
      <h3>Deixe aqui a sua mensagem</h3>
      <form name="sentMessage" id="contactForm" novalidate>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <input type="text" id="name" class="form-control" placeholder="Nome" required="required">
              <p class="help-block text-danger"></p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <input type="email" id="email" class="form-control" placeholder="Email" required="required">
              <p class="help-block text-danger"></p>
            </div>
          </div>
        </div>
        <div class="form-group">
          <textarea name="message" id="message" class="form-control" rows="4" placeholder="Mensagem" required></textarea>
          <p class="help-block text-danger"></p>
        </div>
        <div id="success"></div>
        <button type="submit" class="btn btn-default">Enviar mensagem</button>
      </form>
      
    </div>
  </div>
</div>
<% include partials/footer %>
