<% include partials/header %>

<!-- Portfolio Section -->
<div class="content-wrap" id="listagem" >
      <div class="section-title text-center center">
        <br>
          <h2>Listagem</h2>
         </div>

        
                <div class="col-lg-12" style="margin-top: 10px; ">
    
                    <input class="form-control" id="marca" placeholder="Marca" type="text" style="width:30%" />
                    <select class="form-control button" id="sortPrice" style="width:30%">
                        <option>Ordenar Por:</option>
                        <option value="precoA">Preço Ascendente</option>
                        <option value="precoD">Preço Descendente</option>
                        <option value="cvA">Mais cavalos</option>
                        <option value="cvD">Menos cavalos</option>
    
                    </select>
    
    
    
                    <button type="button" class="btn btn-info" data-toggle="collapse"style="margin-bottom:10px;margin-top:10px" data-target="#collapseDiv">pesquisa avançada</button>
    
    
    
                    <div id="collapseDiv" class="collapse" style="height:max-content">
    
    
                            <div class="slider-container">
                                    <input class="slider" id="slider2" type="text"  />
            
                            </div>
    
                   
    
                        <br>
                        <br>
                        <br>
    

                        <input class="form-control" id="modelo" placeholder="Modelo" type="text" style="float: rigth;width: 30%"/>
    
                    </div>
     

    
    
                        <style>
                            .grid-item {
                                width: 25%;
                            }
    
                            .grid-item--width2 {
                                width: 50%;
                            }
    
    
                            .slider-container {
                                width: 50%;
                                float: left;
                                margin-left: 10px;
    
                               
                            }
    
                            .btn {
    
                                border-radius: 20px;
    
                            }
    
                            .form-control {
                                border-radius: 50px;
                                margin-bottom: 10px;
                                width: 50%;
                                display: inline-block;
    
                            }
                        </style>
    
                    <section id="main-cards">
                        <div style="">
                            <% for (var c of data) { %>
                                <% if (c.ativo == 1) { %>
                                    <div class="col-md-3" style="padding-right: 5px;" data-toggle="modal" data-target="#<%= c.id %>">
                                        <div class="card">
                                            <img class="card-img-top" src="/public/img/<%= c.chassi %>-0.png" alt="Card image cap" style="margin-bottom:20px;">
    
    
                                            <div class="card-block">
                                                <h4 class="card-title">
                                                    <%= c.marca %>
                                                </h4>
                                                <p class="card-text">
                                                    <%= c.modelo  %>
                                                </p>
                                            </div>
                                            <ul class="list-group list-group-flush">
                                                <li class="list-group-item km">
                                                    <%= c.km %> Km </li>
                                                <li class="list-group-item cilindrada">
                                                    <%= c.cilindrada %> cc</li>
                                                <li class="list-group-item cavalagem">
                                                    <%= c.cv %> cavalos</li>
                                                    <li class="list-group-item cavalagem">
                                                        PVP <%= c.valor_venda %> </li>
                                            </ul>
                                            <div class="card-block">
                                                <h4>PVP <small style="float:right"><%= c.valor_venda %>  </small></h4>
                                                
                                            </div>
    
                                        </div>
    
                                    </div>
                                    <div class="modal fade product_view " id="<%= c.id %>">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
    
                                                <div class="modal-body">
    
    
                                                    <div class="w3-content w3-display-container">
                                                        <% i = 0 %>
                                                            <% for (i = 0; i < c.numero_fotos; i++ ) { %>
                                                                <% if (i == 0) { %>
                                                                    <img class="<%= c.id %>" src="/public/img/<%= c.chassi %>-<%= i %>.png" style="width:100%;">
                                                                    <% } else { %>
                                                                        <img class="<%= c.id %>" src="/public/img/<%= c.chassi %>-<%= i %>.png" style="width:100%; display:none;">
                                                                        <% } %>
                                                                            <% } %>
                                                                                <button class="w3-button w3-black w3-display-left" onclick="plusDivs<%= c.id %>(-1)">&#10094;</button>
                                                                                <button class="w3-button w3-black w3-display-right" onclick="plusDivs<%= c.id %>(1)">&#10095;</button>
                                                    </div>
    
                                                    
                                                    <div class="card-block">
                                                        <h4 class="card-title">
                                                            <%= c.marca %>
                                                        </h4>
                                                        <p class="card-text">
                                                            <%= c.modelo  %>
                                                        </p>
                                                    </div>
                                                    <ul class="list-group list-group-flush">
                                                        <li class="list-group-item">
                                                            <%= c.km %> Km </li>
                                                        <li class="list-group-item">
                                                            <%= c.cilindrada %> cc</li>
                                                        <li class="list-group-item">
                                                            <%= c.cv %> cavalos</li>
                                                    </ul>
                                                    <div class="card-block">
                                                        <h4 style="padding-top: 10px;display: inline-flex; float:left">PVP</h4>
                                                        <h4 style="padding-top: 10px;display: inline-flex; float:right">
                                                            <%= c.valor_venda %>
                                                        </h4>
                                                    </div>
                                                    <li style="width:50%;">
                                                        <span data-toggle="modal" data-target="#<%= c.id %>">
                                                    </li>
                                                </div>
                                            </div>
                                        </div>
    
                                    </div>
                                    <% } %>
                                        <% } %>
                        </div>

                    </section>
    
    
    

    





    </div>
  </div>

    <div>
      <div>
        <div>
        
    
        </div>
      </div>
    </div>

<% include partials/footer %>